.dropdown {
    position: relative;
    width: 50%;
}

.dropdown__input, .dropdown__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.dropdown__input {
    padding: 1rem;
    background-color: #fafcfd;
    border: 3px solid #ccc;
    cursor: pointer;
}

.dropdown__input:hover {
    background-color: #eee;
}

/* .dropdown__input:focus, .dropdown__input.open {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
} */

.dropdown__list {
    list-style: none;
    margin-top: 4rem;
    /* box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    max-height: 0;
}

.dropdown__list.open {
    max-height: 320px;
    overflow: auto;
}

.dropdown__item {
    position: relative;
    height: 4rem;
    background-color: #fafcfd;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 1;
}

.dropdown__item:hover {
    background-color: #ddd;
}

.dropdown__item.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}